<footer class="footer">
    <div class="footer__container container">
        <div class="footer__main">
            <div class="footer__side">
                <a href="#" class="footer__logo">
                    <img loading="lazy" src="./img/logo.webp" alt="">
                </a>
                <p class="footer__desc">
                    Инженерный подход к вашему комфорту
                </p>
            </div>
            <ul class="footer__list">
                <li class="footer__list-item"><a href="#">О нас</a></li>
                <li class="footer__list-item"><a href="#">Монтаж</a></li>
                <li class="footer__list-item"><a href="#">Оплата</a></li>
                <li class="footer__list-item"><a href="#">Доставка</a></li>
                <li class="footer__list-item"><a href="#">Контакты</a></li>
            </ul>
            <div class="footer__info">
                <p>
                    ИП Глава КФХ Германов А.Н.
                </p>
                <p>
                    ИНН 7725114488
                </p>
                <p>
                    р/с 4080281076328000091
                </p>
                <p>
                    Филиал “Центр розничного и малого бизнеса АО “Россельзозбанк””
                </p>
            </div>
            <div class="footer__info">
               <a href="">Договор оферты</a>
               <a href="">Согласие на обработку персональных данных</a>
               <a href="">Политика конфиденциальности</a>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__copyright">© 2010 - 2026 МОСКВА-КЛИМАТ</p>
        </div>
    </div>
</footer>

@@include("_sprite.svg")
<script src="js/common.js?v=0"></script>
</body>

</html>