<header data-header-js class="header">
    <div class="header__top">
        <div class="header__top-container container">
            <p class="header__info">
                г.Домодедово
            </p>
            <nav class="header__navigation">
                <ul class="header__list">
                    <li class="header__list-item"><a href="#">О нас</a></li>
                    <li class="header__list-item"><a href="#">Оплата</a></li>
                    <li class="header__list-item"><a href="#">Доставка</a></li>
                    <li class="header__list-item"><a href="#">Монтаж</a></li>
                    <li class="header__list-item"><a href="#">Контакты</a></li>
                </ul>
            </nav>
            <a href="tel:+79259042425" class="header__tel">+ 7 (964) 843-88-81</a>
        </div>
    </div>
    <div class="header__main">
        <div class="header__main-container container">
            <div class="header__side">
                <a href="#" class="header__logo">
                    <img loading="lazy" src="./img/logo.webp" alt="">
                </a>
            </div>
            <div class="header__middle">
                <button type="button" class="header__catalog-btn">
                    <img loading="lazy" src="./img/icons/catalog.svg" alt="">
                    <span>Каталог</span>
                </button>
                <div class="header__search">
                    <input placeholder="Поиск" type="text" class="header__search-input custom-input">
                    <button type="button" class="header__search-btn">
                        <img loading="lazy" src="./img/icons/search.svg" alt="">
                    </button>
                </div>
            </div>
            <div class="header__buttons">
                <a href="favorites.html" class="header__button">
                    <img loading="lazy" src="./img/icons/heart.svg" alt="">
                    <span>Избранное</span>
                </a>
                <a href="basket.html" class="header__button">
                    <img loading="lazy" src="./img/icons/basket.svg" alt="">
                    <span>Корзина</span>
                </a>
                <button class="header__burger">
                    <span></span>
                </button>
            </div>
        </div>
    </div>
    <div class="header__menu">
        <div class="header__menu-container container">
            <div class="header__search">
                <input placeholder="Поиск" type="text" class="header__search-input custom-input">
                <button type="button" class="header__search-btn">
                    <img loading="lazy" src="./img/icons/search.svg" alt="">
                </button>
            </div>
            <div class="header__catalog-wrapper active">
                <button type="button" class="header__catalog-btn">
                    <img loading="lazy" src="./img/icons/catalog.svg" alt="">
                    <span>Каталог</span>
                </button>
                <div class="header__catalog header__catalog_mobile">
                    <div class="header__catalog-container container">
                        <div class="catalog-items">
                            <a href="#" class="catalog-item">
                                <h3 class="catalog-item__title">Категория</h3>
                                <div class="catalog-item__image">
                                    <img src="./img/new/1.webp" alt="">
                                </div>
                            </a>
                            <a href="#" class="catalog-item">
                                <h3 class="catalog-item__title">Категория</h3>
                                <div class="catalog-item__image">
                                    <img src="./img/new/1.webp" alt="">
                                </div>
                            </a>
                            <a href="#" class="catalog-item">
                                <h3 class="catalog-item__title">Категория</h3>
                                <div class="catalog-item__image">
                                    <img src="./img/new/1.webp" alt="">
                                </div>
                            </a>
                            <a href="#" class="catalog-item">
                                <h3 class="catalog-item__title">Категория</h3>
                                <div class="catalog-item__image">
                                    <img src="./img/new/1.webp" alt="">
                                </div>
                            </a>
                            <a href="#" class="catalog-item">
                                <h3 class="catalog-item__title">Категория</h3>
                                <div class="catalog-item__image">
                                    <img src="./img/new/1.webp" alt="">
                                </div>
                            </a>
                            <a href="#" class="catalog-item">
                                <h3 class="catalog-item__title">Категория</h3>
                                <div class="catalog-item__image">
                                    <img src="./img/new/1.webp" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="header__list">
                <li class="header__list-item"><a href="#">О нас</a></li>
                <li class="header__list-item"><a href="#">Оплата</a></li>
                <li class="header__list-item"><a href="#">Доставка</a></li>
                <li class="header__list-item"><a href="#">Монтаж</a></li>
                <li class="header__list-item"><a href="#">Контакты</a></li>
            </ul>
            <p class="header__info">
                г.Тула Ленина 21
            </p>
            <a href="tel:+79259042425" class="header__tel">8 (925) 904-24-25</a>
        </div>
    </div>

    <div class="header__catalog header__catalog_pc">
        <div class="header__catalog-container container">
            <div class="header__catalog-close">
                <img loading="lazy" src="./img/icons/close.svg" alt="">
            </div>
            <div class="catalog-items">
                <a href="#" class="catalog-item">
                    <h3 class="catalog-item__title">Категория</h3>
                    <div class="catalog-item__image">
                        <img src="./img/new/1.webp" alt="">
                    </div>
                </a>
                <a href="#" class="catalog-item">
                    <h3 class="catalog-item__title">Категория</h3>
                    <div class="catalog-item__image">
                        <img src="./img/new/1.webp" alt="">
                    </div>
                </a>
                <a href="#" class="catalog-item">
                    <h3 class="catalog-item__title">Категория</h3>
                    <div class="catalog-item__image">
                        <img src="./img/new/1.webp" alt="">
                    </div>
                </a>
                <a href="#" class="catalog-item">
                    <h3 class="catalog-item__title">Категория</h3>
                    <div class="catalog-item__image">
                        <img src="./img/new/1.webp" alt="">
                    </div>
                </a>
                <a href="#" class="catalog-item">
                    <h3 class="catalog-item__title">Категория</h3>
                    <div class="catalog-item__image">
                        <img src="./img/new/1.webp" alt="">
                    </div>
                </a>
                <a href="#" class="catalog-item">
                    <h3 class="catalog-item__title">Категория</h3>
                    <div class="catalog-item__image">
                        <img src="./img/new/1.webp" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>

</header>