@use 'lib' as *;

.catalog {
	$self: &;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		font-weight: 500;
		font-size: fluid(40px, 24px);
		margin-bottom: fluid(32px, 24px);
	}

	&__desc {
		font-size: fluid(24px, 16px);
		color: #313133CC;
		margin-bottom: fluid(32px, 24px);
	}

	&__items {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: fluid(24px, 8px);

		@include media("<=lg") {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media("<=sm") {
			grid-template-columns: 100%;
		}
	}

	&__item {
		position: relative;
		min-height: 320px;
		border-radius: 32px;
		overflow: hidden;
		background: #FFEEF4;

		transition: all $transition;

		&:hover {
			background: rgba($color: #FFEEF4, $alpha: 0.5);
			#{$self}__item-image {
				transform: translateX(24px);
			}
		}
	}

	&__item-content {
		padding: fluid(36px, 24px) fluid(36px, 24px) fluid(28px, 18px) fluid(28px, 18px);
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		gap: 6px;
	}

	&__item-season {
		font-size: 12px;
		color: #313133;
		font-weight: 500;
		background: #FCC766;
		padding: 6px 8px;
		border-radius: 6px;
		width: fit-content;
	}

	&__item-title {
		color: #4F4F4F;
		font-size: fluid(28px, 20px);
		font-weight: 500;
		padding: 6px 12px;
		background: #ffffff;
		border-radius: 12px;
		width: fit-content;
	}

	&__item-list {
		max-width: 40%;
		font-size: 16px;

		li {
			&::before {
				content: '-';
			}
		}
	}

	&__item-image {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 60%;
		height: 100%;
		object-fit: cover;
		border-radius: 32px;
		overflow: hidden;
		transition: all $transition;
	}

}