@use 'lib' as *;

.catalog-section {
	$self: &;

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-weight: 500;
		font-size: fluid(40px, 24px);
		margin-bottom: fluid(32px, 24px);
	}

}
