@use 'lib' as *;

.breadcambs {
	$self: &;

	&__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		font-weight: 500;
	}

	&__list-item {
		&:last-child {
			opacity: 0.8;
		}
		&:not(:last-child)::after {
			content: '/';
			margin-left: 8px;
		}
	}

}
