@use 'lib' as *;

.contacts {
	$self: &;

	&__container {
		background: $backgroundSecond;
		border-radius: 20px;
		overflow: hidden;
	}

	&__main {
		padding: fluid(26px, 20px) fluid(26px, 20px) fluid(32px, 24px) fluid(26px, 20px);
		display: grid;
		grid-template-columns: minmax(auto, 0.65fr) auto;
		gap: fluid(64px, 24px);

		@include media("<=md") {
			grid-template-columns: repeat(2, auto);
		}

		@include media("<=xs") {
			grid-template-columns: 100%;
		}
	}

	&__columns {
		display: grid;
		grid-template-columns: repeat(2, auto);
		justify-content: space-between;
		gap: 24px;

		@include media("<=xs") {
			grid-template-columns: 100%;
		}
	}

	&__column {
		width: fit-content;
	}

	&__column-title {
		margin-bottom: 6px;
	}

	&__column-content {
		font-size: 16px;
		font-weight: 500;

		a {
			transition: all $transition;

			&:hover {
				opacity: 0.7;
			}
		}
	}

	&__socials {
		display: flex;
		flex-direction: row;
		gap: 16px;
	}

	&__social {
		@include flex-center;

		border-radius: 10px;
		width: 50px;
		height: 50px;
		background: #ffffff;
		box-shadow: inset 0 0 0 1px #D7D5D3;

		img {
			width: 24px;
			height: 24px;
			object-fit: contain;
		}

		transition: all $transition;

		&:hover {
			opacity: 0.7;
		}
	}

	&__map {
		width: 100%;
		height: fluid(404px, 320px);
		border-radius: 20px;
		overflow: hidden;
		position: relative;

		img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

}