@use 'lib' as *;

.delivery {
	$self: &;

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-size: fluid(40px, 24px);
		margin-bottom: fluid(32px, 24px);
		font-weight: 500;
	}

	&__columns {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;

		@include media("<=md") {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media("<=xs") {
			grid-template-columns: 100%;
		}
	}

	&__column {

	}

	&__column-title {
		margin-bottom: 8px;
		font-weight: 500;
		font-size: 16px;
		color: #000000;
	}

	&__column-text {
		line-height: 150%;
	}

}
